* {
  padding: 0px auto;
  margin: 0px auto;
  font-size: 16pt;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-col-wrap {
  flex-flow: column wrap;
}

.center-justify {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.left-justify {
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.center-stretch {
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.flex-wrapper {

  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.display-container {
  height: 100%;
  width: 100%;
}

.display {
  display: flex;
}

.small-button,
.number-button {
  min-width: 90px;
  min-height: 90px;

  height: auto;
  display: flex;
  border-radius: 50%;
  border: 1px solid black;
}

.med-button {
  min-width: 45%;
  min-height: 90px;

  height: auto;
  display: flex;
  border-radius: 25%;
  border: 1px solid black;
}

.big-button {
  min-width: 90%;
  min-height: 90px;

  height: auto;
  display: flex;
  border-radius: 25%;
  border: 1px solid black;
}

.big-button,
.med-button,
.small-button {
  cursor: pointer;
}


.big-button a,
.med-button a,
.small-button a {
  text-decoration: none;
  text-align: center;
  color: black;
  width: 100%;
  height: 100%;
  display: flex inline-block;
  /*border-radius: 50%;
  border: 1px solid black;*/
}



.calc-body {
  width: 60%;
  height: 80%;
  border: 2px solid black;
}

.number-row {
  border: 2px solid green;
  width: 95%;
  height: 18%;
}

.left-side,
.right-side {
  height: 90%;
}

.left-side {
  width: 45%;
  border: 2px solid blue;
}

.right-side {
  width: 45%;
  border: 2px solid red;
}

.numbers,
.operations {
  height: 100%;
}
